@charset "utf-8";
/* CSS Document */
body{font-family:Arial;}
a:hover{text-decoration: none;}
/*header*/
header{width:100%; height:90px; background:rgba(214,232,232,0.8); position: fixed;top:0; z-index:999; box-shadow:0 0 10px 3px rgba(0,0,0,0.3); }
h1{display: inline-block; padding: 0 35px;}
nav{ position: relative;}
nav span{width:35px; height:35px; display:inline-block; border-radius:17.5px; background:url(../images/men2.jpg);}
nav ul{float:right; position: relative; font-size: 0;}
nav ul li{display: inline-block; height: 0px;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	}
nav ul li:hover{background-color:#e95344;height: 90px;}
nav ul li a{color:#fff; color: #1b4764;  height: 90px; display: inline-block; font-weight: bold; font-size: 16px; line-height: 90px; padding: 0 30px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
nav ul li a:hover{color:#fff;}
nav ul li:nth-child(5){width:26px; height: 26px; margin-top:-10px; outline: none; border:0; border-radius: 13px; cursor: pointer; vertical-align: middle; background: url(../images/search00.png);}
nav ul li:nth-child(5):hover{background: url(../images/search00.png) 0 -26px;}
nav input[type="text"]{width:0; height: 40px; font-size:18px; background: #1e4a63; color: #fff; border:0; border-radius: 3px; outline: none; position: absolute; right: 10px; top:70px;}
/*主体*/
article:first-child{background:rgba(214,232,232,0.5) url(../images/bg400.jpg); background-size:cover;   overflow: hidden;}
article:nth-child(2){background:#fff url(../images/pattern.jpg);}
article:nth-child(3){background:#fff url(../images/xiexian_bg.png); }
article:nth-child(4){background:#fff url(../images/fotbg.png);}
	/*第一部分*/
.first section{width:1200px; margin: 0 auto;}
.first section:first-child{height:500px; padding-top: 300px;}
.first section:first-child h2{ width:80%; color: #1b4764; font-size:50px; margin:0 auto; text-align:center;	-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.3));	font:bold/1.231 georgia,sans-serif;}
.first section:first-child h2 span{color:#e95344;}
.first section:first-child p{text-align:center; font-size:18px; margin-top: 70px; color:#474747;-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.3));	font:bold/1.231 georgia,sans-serif;}
.first section:first-child input{border:1px soild #fff; font-size:16px;border-radius: 5px; width:150px; height: 50px; color:#fff; background: rgba(255,255,255,0.1); outline: none;}
.first section:nth-child(2){height:20px; width:100%; background: rgba(214,232,232,0.5); position:relative;}
.first section:nth-child(2) ul{width:1200px; height: 20px; margin:0 auto; }
.first section:nth-child(2) .smallBnner li{width:390px; height: 20px; display: inline-block; position:relative; cursor:pointer; }
.first section:nth-child(2) .smallBnner li:hover .UpArea{height:600px; top:-600px;}
.first section:nth-child(2) .smallBnner li:first-child{background:#66bfc5;}
.first section:nth-child(2) .smallBnner li:nth-child(2){background:#f1c53e;}
.first section:nth-child(2) .smallBnner li:nth-child(3){background:#7db66f;}
.first section:nth-child(2) .UpArea{height:0; width:390px; background:rgba(255,255,255,0.5); position:absolute; top:20px; 
-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;}
.first section:nth-child(2) .UpArea:hover{}
.first section:nth-child(2) .UpArea li{text-align:center;}
.first section:nth-child(2) .UpArea li img{width:390px;}
.first section:nth-child(2) .UpArea li p{width:70%;padding:0 15%; color:#474747; line-height:30px; font-size:18px; margin-top:30px;}
.first section:nth-child(2) .UpArea li i{font-size: 16px; color:#194a68;}
.first section:nth-child(2) .UpArea li input[type="button"]{border:none; outline: none; cursor:pointer; height: 30px; padding: 0 20px; border-radius: 3px; font-size: 16px; background:#e95344; color: #fff; margin-top: 20px;
-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;}
.first section:nth-child(2) .UpArea li input[type="button"]:hover{background:#e71500;}
h3{width:1200px; margin:0 auto; font-size:30px; text-align:center; line-height:40px; color:#e95344; margin-bottom: 20px;}
h3 a{color:#e95344;}
	/*第二部分*/
.second{padding: 50px 0;}
.second section ul{width:1200px; margin:0 auto; font-size: 0;}
.second section ul li{width:360px;  background:rgba(255,255,255,0.4); font-size: 16px; color: #474747;
 display: inline-block; padding: 20px; position: relative;}
.second section ul li span{width:300px; height:0px; position: absolute; opacity: 0; top:40px; left:45px; background: url(../images/mask.png);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.second section ul li p{width:300px; line-height: 30px; margin-left: 25px; color: #204d60; font-size: 18px; }
.second section ul li p i{ font-size: 16px; color:#474747;}
.second section ul li p:hover{color:#e95344;}
.second section ul li p:last-child{width: 26px; height: 23px; background: url(../images/xin.png);
 cursor: pointer; position: absolute;top:330px; right:120px;
-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;}
.second section ul li p:last-child:hover{background: url(../images/xin.png) 0 -23px;}
.second section ul li img{width:300px; height:200px; margin-left: 25px; margin-top:20px; box-shadow:0 0 10px 2px rgba(0,0,0,0.3);}
/*第三部分*/
.third{padding: 50px 0;}
.third ul{width:1200px; margin:0 auto; font-size: 0;}
.third ul li{width:540px; display: inline-block; margin-bottom: 40px; padding-left:60px;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
transition: all 0.5s linear;}
.third ul li img:hover{
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.third ul li span img{width:480px; height: 300px;
-webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
}
.third ul li span{display:inline-block; width:480px; height: 300px; overflow:hidden;  box-shadow:0 0 10px 3px rgba(0,0,0,0.3);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease; }
.third ul li span:hover{ box-shadow:0 0 10px 5px rgba(0,0,0,0.3);}
.third ul li p{width:480px; }
.third ul p:nth-child(3):hover{color:#e95344;}
.third ul li :nth-child(2){color: #474747;  font-size: 14px; line-height: 40px;}
.third ul li :nth-child(3){color:#1b4764; font-size: 18px; line-height: 30px;}
.third ul li :nth-child(4){color:#e95344; font-size: 14px; margin-top: 20px; text-align:right;}
/*第四部分*/
.forth{padding-top: 50px;}
.forth .contact{width:1200px; margin:0 auto; font-size: 0; text-align: center;}
.forth .contact p{width:60%; padding:0 20%; color:#1b4764; font-size: 16px; line-height: 30px; text-align: left; }
.forth .contact li:first-child p{font-size: 18px; text-align: center; margin-bottom: 10px;}
.forth .contact li{position:relative;}
.forth .contact li span{height:0; width:200px; position:absolute; top:20px; background:#F00;
-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;}
.forth .contact input[type="text"]{width:60%; margin:0 20%;  height: 40px; border-radius: 3px; border:1px solid #e3e3e3; font-size: 18px; padding-left: 10px;}
.forth .contact input[type="button"]{border:none; cursor:pointer; line-height: 40px; cursor:pointer; border-radius:3px; padding: 0 20px; font-size: 18px; background:#e95344; color: #fff; margin: 20px 0 50px 0;
-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;}
.forth .contact input[type="button"]:hover{background:#e71500;}
/*尾部*/
footer .shear{width:600px; height: 60px; margin: 0 auto; padding-top: 50px; font-size: 0; }
footer .shear li{display: inline-block; margin: 0 60px; border-radius:15px;}
footer .shear li:nth-child(1){width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-1.png) 0 -30px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
footer .shear li:nth-child(2){width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-2.png) 0 -30px;
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
footer .shear li:nth-child(3){width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-3.png) 0 -30px;
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
footer .shear li:nth-child(4){width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-4.png) 0 -30px;
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
footer .shear li:nth-child(1):hover{width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-1.png);}
footer .shear li:nth-child(2):hover{width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-2.png);}
footer .shear li:nth-child(3):hover{width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-3.png);}
footer .shear li:nth-child(4):hover{width:30px; height: 30px; cursor: pointer; background: url(../images/soc-icon-4.png);}
footer p{width:1200px; margin:0 auto; text-align:center; margin-bottom:40px; line-height:80px; font-size:14px; color:#474747;}
footer p span{color:#e95344;}
footer audio{ width:100%; position:fixed;bottom:0; left:0; right:0;}